.yazi{
    background-image: url(images/image.png);
    font-size: 80px;
    background-size: cover;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    background-clip: text;
    color: transparent;
    text-align: center;
}
.qutu{
    width: 250px;
    height: 200px;
    border: solid 4px;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
}
.title{
    background-color: black;
    line-height: 200px;
    width: 100%;
    border: solid 3px rgb(255, 242, 198);
}
.h1{
    width: 100%;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
}
.middle{
    width: 100%;
    height: 600px;
    background-color: rgb(63, 79, 68);
    border: solid 3px rgb(255, 242, 198);
}
.img1{
    background-image: url(images/img1.png);
    display: inline-block;
    background-size: cover;
}
.img2{
    background-image: url(images/img2.png);
    display: inline-block;
    background-size: cover;
}
.img3{
    background-image: url(images/img3.png);
    display: inline-block;
    background-size: cover;
}
.img4{
    background-image: url(images/img4.png);
    display: inline-block;
    background-size: cover;
}
.middle2{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-color: rgb(63, 79, 68);
    border: solid 3px rgb(255, 242, 198);
}
.img5{
    background-image: url(images/img5.png);
    display: inline-block;
    background-size: cover;
}
.img6{
    background-image: url(images/img6.png);
    display: inline-block;
    background-size: cover;
}
.finish{
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    border: solid 3px rgb(255, 242, 198);
    background-color:rgb(63, 79, 68);
}